doctype html
html
    head
    meta(charset = 'utf-8')
    meta(name='viewport', content="initial-scale=1.0, width=device-width")
    link(rel='stylesheet', href="./public/css/style.css")
    title Webpack app
    body
        -if( partials != undefined && partials.header != undefined) {
            #{partials.header}
        -}  
        h1 Hello #{name}