head
	link(rel="stylesheet" href="/css/weather.css")
body
	h3.main Weather in #{name} , 
		span #{country}
	h3.info Температура
		span :  #{temp} °C
	h3.info Швидкість вітру
		span :  #{wSpeed} м/с
	h3.info Вологість повітря
		span :  #{humidity} %