.main {
	color: #54a8f2;
	text-align: center;
	font-family: Arial;
	font-size: 40px;
}

.main span{
	color: #53f178;
}

h3 {
	text-align: center;
}

.info {
	font-size: 25px;
	color: #315c63;
}

.info span{
	color:black;
}
